{{ define "main" }}
<div style="display:flex; flex-wrap:wrap;">
  {{ range sort .Paginator.Pages }}
  <article class="markdown" style="padding-bottom:1.25rem; width:20rem;">
    <div><a href="{{ .RelPermalink }}" style="font-size:115%;">{{ partial "docs/title.html" . }}</a></div>
    {{ with .Date }}
		<div>{{ partial "docs/date" (dict "Date" . "Format" $.Site.Params.BookDateFormat) }}</div>
	{{ end }}
  </article>
  {{ end }}
</div>
  {{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}
