.mtitle-wrap {
    list-style-type: none;
    margin-bottom: -20px;
    background-color: color-footer-background;
	padding-top:8px;
	padding-bottom:8px;
}

.mtitle {
	margin-left:10px;
    padding-left:16px;
	padding-right:16px;
	color:#ddd;
	font-size:20px;
	text-decoration:none;
}

.msubtitle  {
    padding-left:16px;
	padding-right:16px;
	color:#888;
	font-size:16px;
	text-decoration:none;
}

.msubtitle:hover{
	color:#ddd;
}
